#customers td,
#customers th {
 border: 1px solid #a7a7a7;
 padding: 8px;
}

#customers {
 font-family: Arial, Helvetica, sans-serif;
 border-collapse: collapse;
 width: 100%;
}

#customers thead {
 padding-top: 12px;
 padding-bottom: 12px;
 text-align: left;
 background-color: #696969;
 color: white;
}

#customers tbody > tr:nth-child(even) {
 background-color: #f2f2f2;
}

#customers tbody > tr:hover {
 background-color: #ddd;
}

a {
display: inline-block;
padding: 8px 16px;
margin: 5px;
background-color: rgb(95, 95, 95);
color: rgb(255, 255, 255);
border-radius: 100px;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

